* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #212121;
}

@font-face {
  font-family: "SpeedyRight";
  src: url("fonts/chi_speedyright_free.otf") format("opentype");
  font-weight: normal;
  font-style: normal;

  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.top-text,
.side-message1 {
  font-family: "DotGothic16", sans-serif;
}
h1 {
  font-family: "DotGothic16", sans-serif;
  color: white;
  font-size: 40px;
  text-shadow: 3px 3px green;
  background-color: transparent;
  letter-spacing: 0.12em;
}

h4 {
  font-family: "Noto Sans JP", sans-serif;
}

p {
  font-family: "DotGothic16", sans-serif;
  color: white;
  font-size: 24px;
  background-color: transparent;
  letter-spacing: 0.12em;
}

header {
  color: blue;
  width: 100%;
  height: 60px;
}

.nav-list {
  text-align: right;
  padding: 30px 30px;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

main {
  width: 100%;
}

.feaver-img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.top-text {
  width: 100%;
  text-align: center;
  font-size: 120px;
  position: absolute;
  top: 216px;
  right: 10px;
  transform: rotate(-10deg);
  color: #fff;
  text-shadow: 3px 3px #81bedb;
  background-color: transparent;
}

.top-date {
  font-size: 80px;
  color: #fff;
  background-color: transparent;
}

.qr-container {
  position: absolute;
  width: 200px;
  height: 200px; 
  top: 500px;
  right: 200px;
  border-radius: 8px;
}

.qr-label {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: bold;
  z-index: 1;
}

.qr {
  width: 200px;
  height: 200px;
  top: 500px;
  right: 200px;
  border-radius: 8px;
  border: 5px solid black;
  bottom: 0;
}

.side-message1 {
  position: absolute;
  top: 1000px;
  right: 4px;
  padding: 20px;
  white-space: nowrap;
  writing-mode: vertical-rl;
  font-size: 40px;
  color: #fff;
  text-shadow: 3px 3px yellow;
  background-color: transparent;
}

.main-contents {
  width: 100%;
  height: auto;
  padding: 32px;
}

.informarion {
  padding-left: 20px;
  padding-top: 40px;
}
.information-box {
  width: 80%;
  margin: 10px;
  padding: 16px;
  background-color: white;
  color: #212121;
  position: relative;
  border-radius: 8px;
  font-family: "DotGothic16", sans-serif;
}
.information-box::after {
  content: "";
  border-color: green #212121 #212121 green;
  border-style: solid;
  border-width: 0 0 24px 24px;
  bottom: 0;
  position: absolute;
  right: 0;
}

.date {
  padding-left: 80px;
  padding-top: 20px;
  letter-spacing: 0.2em;
  line-height: 2;
}

.kaigyo_padding {
  padding-left: 120px;
}

.judge {
  padding-left: 20px;
  padding-top: 80px;
}
h1#judge {
  font-family: "DotGothic16", sans-serif;
  color: white;
  font-size: 40px;
  text-shadow: 3px 3px purple;
  background-color: transparent;
  letter-spacing: 0.12em;
}

.cards-contents {
  display: flex;
  padding: 10px;
}
.card {
  width: 30%;
  height: auto;
  margin: 16px;
}
.card-skin {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.card__imgframe {
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  background: url(img/images.jpeg) no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}
.card__textbox {
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
}
.card__textbox > * + * {
  margin-top: 10px;
}
.card__titletext {
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}
.card__overviewtext {
  font-size: 12px;
  line-height: 150%;
}

footer {
  width: 100%;
  height: auto;
  padding: 16px;
  display: flex;
  text-align: start;
  gap: 16px;
}

.kcl {
  padding-top: 10px;
}

.kcl-img {
  width: 64px;
  height: 64px;
  margin-left: 64px;
}

.mail-contents {
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
}
