* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #212121;
}

@font-face {
  font-family: "SpeedyRight";
  src: url("fonts/chi_speedyright_free.otf") format("opentype");
  font-weight: normal;
  font-style: normal;

  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
  background-color: transparent;
  font-family: "DotGothic16", sans-serif;
}

.top-text,
.side-message1 {
  font-family: "Dela Gothic One", sans-serif;
}
h1 {
  font-family: "DotGothic16", sans-serif;
  color: white;
  font-size: 24px;
  text-shadow: 3px 3px green;
  background-color: transparent;
  letter-spacing: 0.12em;
}

h4 {
  font-family: "Noto Sans JP", sans-serif;
}

p {
  font-family: "DotGothic16", sans-serif;
  color: white;
  font-size: 16px;
  background-color: transparent;
  letter-spacing: 0.12em;
}

header {
  color: blue;
  width: 100%;
  height: 60px;
}

.nav-list {
  text-align: right;
  padding: 30px 30px;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.styled {
  border: 0;
  line-height: 1.6;
  padding: 0 12px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(29, 134, 174, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

main {
  width: 100%;
}

a.btn--yellow {
  display: none;
}

.feaver-img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.top-text {
  width: 100%;
  text-align: center;
  font-size: 120px;
  position: absolute;
  top: 216px;
  right: 10px;
  transform: rotate(-10deg);
  color: #fff;
  text-shadow: 3px 3px #81bedb;
  background-color: transparent;
}
.top-text.is-active {
  animation: feaverhack 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1,
    rotateAfter 2s ease-out 0.8s forwards 1;
  animation-fill-mode: forwards;
}

@keyframes feaverhack {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(150%);
  }
  30% {
    opacity: 1;
  }
  75% {
    transform: scale(1.5) translateY(-30%);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes rotateAfter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.top-date {
  font-size: 80px;
  color: #fff;
  background-color: transparent;
  font-family: "Dela Gothic One", sans-serif;
}

.first-come-first-served {
  text-align: right;
  margin: 0 auto;
  width: 270px;
  position: absolute;
  top: 528px;
  right: 410px;
  padding: 16px;
  text-shadow: 2px 2px black;
  background-color: transparent;
  letter-spacing: 0.06em;
}

.arrow-contents {
  display: flex;
  background-color: transparent;
}

.first-come-first-served p {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  background-color: transparent;
}

.first-come-first-served .english {
  font-size: 16px;
  margin-top: 5px;
  white-space: nowrap;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #fff;
  margin: 16px 10px;
  transform: rotate(0.25turn);
  background-color: transparent;
}

.qr-container {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 500px;
  right: 200px;
  border-radius: 8px;
}

.qr-label {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: bold;
  z-index: 1;
}

.qr {
  width: 200px;
  height: 200px;
  top: 500px;
  right: 200px;
  border-radius: 8px;
  border: 5px solid black;
  bottom: 0;
}

.side-message1 {
  position: absolute;
  top: 1000px;
  right: 4px;
  padding: 20px;
  white-space: nowrap;
  writing-mode: vertical-rl;
  font-size: 40px;
  color: #fff;
  text-shadow: 3px 3px yellow;
  background-color: transparent;
}

.main-contents {
  width: 100%;
  height: auto;
  padding: 32px;
}

.informarion {
  padding-left: 20px;
  padding-top: 40px;
}
.information-box {
  width: 80%;
  margin: 10px;
  padding: 16px;
  background-color: white;
  color: #212121;
  position: relative;
  border-radius: 8px;
  font-family: "DotGothic16", sans-serif;
}
.information-box::after {
  content: "";
  border-color: green #212121 #212121 green;
  border-style: solid;
  border-width: 0 0 24px 24px;
  bottom: 0;
  position: absolute;
  right: 0;
}

.date {
  padding-left: 80px;
  padding-top: 20px;
  letter-spacing: 0.2em;
  line-height: 2;
}

.kaigyo_padding {
  padding-left: 120px;
}

.judge {
  padding-left: 20px;
  padding-top: 80px;
}
h1#judge {
  font-family: "DotGothic16", sans-serif;
  color: white;
  font-size: 24px;
  text-shadow: 3px 3px purple;
  background-color: transparent;
  letter-spacing: 0.12em;
}

.cards-contents {
  display: flex;
  padding: 10px;
}
.card {
  width: 30%;
  height: auto;
  margin: 16px;
}
.card-skin {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.card__imgframe {
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  background: url(img/images.jpeg) no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}
.card__textbox {
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
}
.card__textbox > * + * {
  margin-top: 10px;
}
.card__titletext {
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}
.card__overviewtext {
  font-size: 12px;
  line-height: 150%;
}

footer {
  width: 100%;
  height: auto;
  padding: 16px;
  display: flex;
  text-align: start;
  gap: 16px;
}

.kcl {
  padding-top: 14px;
}

.kcl-img {
  width: 64px;
  height: 64px;
  margin-left: 64px;
}

.mail-contents {
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 1000px) {
  .top-text {
    font-size: 80px;
  }

  .top-date {
    font-size: 60px;
  }

  a.btn--yellow {
    display: none;
  }

  .first-come-first-served {
    top: 448px;
    right: 280px;
  }

  .first-come-first-served p {
    font-size: 18px;
  }

  .first-come-first-served .english {
    font-size: 14px;
  }

  .arrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #fff;
    margin: 10px 10px;
  }

  .qr-container {
    width: 160px;
    height: 160px;
    top: 440px;
    right: 120px;
  }

  .qr-label {
    padding: 4px 8px;
  }

  .qr {
    width: 160px;
    height: 160px;
    top: 500px;
    right: 200px;
  }

  .side-message1 {
    display: none;
  }

  .main-contents {
    margin-top: 50px;
  }

  .informarion {
    padding-left: 20px;
    padding-top: 40px;
  }

  .information-box {
    width: 100%;
    padding: 16px;
  }

  .date {
    padding-left: 0px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 740px) {
  h1 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  header {
    display: none;
  }

  main {
    width: 100%;
    overflow-x: hidden;
  }

  .feaver-img {
    width: 100%;
    margin-top: 200px;
    scale: 2.8;
  }

  .top-text {
    font-size: 44px;
    top: 240px;
    text-align: center;
    left: 2px;
  }

  .top-date {
    font-size: 32px;
  }

  .first-come-first-served {
    display: none;
  }

  .qr-container {
    display: none;
  }

  .side-message1 {
    display: none;
  }

  *,
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }

  html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
  }

  .button-container {
    display: absolute;
    justify-content: center;
    margin-top: 150px;
    margin-left: 30%;
  }

  .btn,
  a.btn,
  button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 8px 32px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 4px;
    margin: 0 auto;
  }

  a.btn--yellow {
    color: #000;
    background-color: #fff100;
    border-bottom: 5px solid #ccc100;
  }

  a.btn--yellow:hover {
    margin-top: 3px;
    color: #000;
    background: #fff20a;
    border-bottom: 2px solid #ccc100;
  }

  .main-contents {
    width: 100%;
    height: auto;
    padding: 16px;
  }

  .informarion {
    padding-left: 4px;
    padding-top: 40px;
  }
  .information-box {
    width: 100%;
    margin: 8px;
    padding: 16px;
  }
  .information-box::after {
    content: "";
    border-color: green #212121 #212121 green;
    border-style: solid;
    border-width: 0 0 24px 24px;
    bottom: 0;
    position: absolute;
    right: 0;
  }

  .date {
    padding-left: 4px;
    padding-top: 20px;
    letter-spacing: 0.2em;
    line-height: 2;
  }

  .kaigyo_padding {
    padding-left: 120px;
  }

  .judge {
    padding-left: 4px;
    padding-top: 80px;
  }
  h1#judge {
    font-family: "DotGothic16", sans-serif;
    color: white;
    font-size: 24px;
    text-shadow: 3px 3px purple;
    background-color: transparent;
    letter-spacing: 0.12em;
  }

  footer {
    width: 100%;
    height: auto;
    padding: 16px;
    display: flex;
    text-align: start;
    gap: 16px;
  }

  .kcl {
    padding-top: 16px;
  }

  .kcl-img {
    width: 64px;
    height: 64px;
    margin-left: 24px;
  }

  .mail-contents {
    display: inline-block;
    font-family: "Noto Sans JP", sans-serif;
  }
}
